* * * * * curl http://sample-nodejs:8080 >/proc/1/fd/1 2>/proc/1/fd/2

0/5 * * * * /workspace/.heroku/python/bin/python /workspace/manage.py add_global_codes_task >> /workspace/cron_logfile.log 2>&1


# An empty line is required at the end of this file for a valid cron file.
